{% extends "upload/base.html" %}

{% block content %}
{{block.super}}

<ul id="uploads" class="files">
{% for i in images %}
   <li class="item {{i.type_slug}}">
       <div class="popup">
           <a href="#" class="close">X</a>
            <ul>
                <li><a class="insert" href="{{i.get_absolute_url}}" title="{{i.title}}">Insert Link</a></li>
            </ul>
       </div>
       {{i.title}}<br />
           <small>{{i.upload_date|date:"F j, Y"}}</small><br />
           {{i.description}}<br />
           <img src="{{i.get_absolute_url}}" />
    </li>
{% endfor %}
</ul>
{% endblock %}