{% extends "upload/base.html" %}

{% block content %}
{{ block.super }}
<ul id="uploads" class="images">
{% for i in images %}
   <li class="item {{i.sub_type}}">
       <div class="popup">
           <a href="#" class="close">X</a>
            <ul>
                <li><a class="insert" href="{{i.get_absolute_url}}" title="{{i.title}}">Insert</a></li>
                <li><a class="insert" href="{{i.get_absolute_url}}" rel="left" title="{{i.title}}">Insert (align left)</a></li>
                <li><a class="insert" href="{{i.get_absolute_url}}" rel="right" title="{{i.title}}">Insert (align right)</a></li>
            </ul>
            ... and link to:<br /> <input type="text" name="link" value="" class="link" />
       </div>
       {{i.title}}<br />
           <small>{{i.upload_date|date:"F j, Y"}}</small><br />
           {{i.description}}<br />
           <img src="{{i.get_absolute_url}}" />
    </li>
{% endfor %}
</ul>
{% endblock %}